In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: For better visuals
sns.set(style="whitegrid")

In [6]:
# Load the CSV file
file_path = r"C:\Users\aasee\Downloads\AQI.csv"
df = pd.read_csv(file_path)

# Convert 'last_update' to datetime format
df['last_update'] = pd.to_datetime(df['last_update'], format='%d-%m-%Y %H:%M')

In [7]:
# Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3159 entries, 0 to 3158
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        3159 non-null   object
 1   state          3159 non-null   object
 2   city           3159 non-null   object
 3   station        3159 non-null   object
 4   last_update    3159 non-null   datetime64[ns]
 5   latitude       3159 non-null   float64
 6   longitude      3159 non-null   float64
 7   pollutant_id   3159 non-null   object
 8   pollutant_min  2934 non-null   float64
 9   pollutant_max  2934 non-null   float64
 10  pollutant_avg  2934 non-null   float64
dtypes: datetime64[ns](1), float64(5), object(5)
memory usage: 271.6+ KB

In [8]:
# Check for missing values
df.isnull().sum()

country            0
state              0
city               0
station            0
last_update        0
latitude           0
longitude          0
pollutant_id       0
pollutant_min    225
pollutant_max    225
pollutant_avg    225
dtype: int64

In [9]:
df.head()

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Assam,Guwahati,"LGBI Airport, Guwahati - PCBA",2025-04-16 10:00:00,26.108870,91.589544,PM2.5,35.0,317.0,90.0
1,India,Assam,Guwahati,"LGBI Airport, Guwahati - PCBA",2025-04-16 10:00:00,26.108870,91.589544,NH3,15.0,17.0,17.0
2,India,Assam,Guwahati,"LGBI Airport, Guwahati - PCBA",2025-04-16 10:00:00,26.108870,91.589544,OZONE,13.0,20.0,16.0
3,India,Assam,Guwahati,"Pan Bazaar, Guwahati - PCBA",2025-04-16 10:00:00,26.187500,91.744194,CO,16.0,52.0,39.0
4,India,Assam,Nagaon,"Christianpatty, Nagaon - PCBA",2025-04-16 10:00:00,26.349082,92.684490,NO2,6.0,13.0,9.0

In [10]:
pollutant_counts = df['pollutant_id'].value_counts()
pollutant_counts

pollutant_id
PM2.5    468
PM10     467
NO2      463
CO       454
SO2      450
OZONE    443
NH3      414
Name: count, dtype: int64